body {
    font-family: 'Consolas', 'Courier New', sans-serif;
    position: relative;
    min-width: 360px;
    color: #8da6ce;
    background-color: #0c1021;
}

h3 {
    color: #f8f8b8;
}

.wrap {
    width: 200px;
    margin: 2em auto 0;
}

.note {
    font-size: 90%;
    padding: 0 0 .5em 0;
    color: #d8fa3c;
}

.pwd {
    cursor: pointer;
}

.pwd:hover {
    color: #d8fa3c;
}

.pwd.copied {
    color: #54ce3c;
}

html.no-clipboard .note {
    visibility: hidden;
}

html.no-clipboard .pwd:hover {
    color: inherit;
    cursor: inherit;
}
