.links {
	display: block !important;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
	right: 2em;
}
.links li {
	margin: 0 0 1em 0;
	padding: 0;
	width: 32px;
	height: 32px;
}
html.opacity .links li a {
	filter:alpha(opacity=40);
	-moz-opacity: 0.40;
	-khtml-opacity: 0.40;
	opacity: 0.40;
}
html.opacity .links li a:hover {
	filter:alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}
